* {
  margin: 0;
  padding: 0;
}

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Roboto&display=swap");

body {
  background-color: #25355d !important;
}

.whatsapp {
  position: fixed;
  bottom: 0%;
  right: 0px;
  z-index: 50;
}

.links {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1rem;
  

}

.links:hover {
  font-size: 1.2rem;
  opacity: 0.7;
}

.logo {
  display: flex;
  justify-content: center;
}

.nav-bar {
}




@media all and (max-width:477px) {
  .links {font-size: 14px !important; }
}