* {
  margin: 0;
  padding: 0;
}

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Roboto:wght@500&display=swap");

body {
  background-color: rgba(37, 53, 93, 255);
  height: 100%;
}

.main-image {
  position: relative;
  background: url(../img/imagebackground.jpg) no-repeat center;
  background-size: cover;
  overflow: hidden;
  height: 500px;
}

.containerz {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  font-size: 42px;
  line-height: 45px;
  font-weight: normal;
  font-family: "Roboto", sans-serif;
  text-shadow: 2px 3px 2px #767372;
}

.cen {
  display: block;
  font-size: 20px;
  line-height: 25px;
  text-shadow: 2px 3px 2px #767372;
  padding: 10px 0 15px;
}
#map {
  height: 400px;
  /* The height is 400 pixels */
  width: 100%;
  /* The width is the width of the web page */
}

.whatsapp {
  position: fixed;
  bottom: 0%;
  right: 0px;
  z-index: 50;
}

.links {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1rem;
}

.links:hover {
  font-size: 1.2rem;
  opacity: 0.7;
  text-decoration: none;
}

.logo {
  display: flex;
  justify-content: center;
}

.nav-bar {
}

.textobanner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  font-size: 42px;
  line-height: 45px;
  font-weight: normal;
  font-family: "Roboto", sans-serif;
  text-shadow: 2px 3px 2px #767372;
}

.textobanner2 {
  font-size: 17px;
  line-height: 25px;
  text-shadow: 2px 3px 2px #767372;
  padding: 10px 0 15px;
}
.bg-image {
  display: block;
  position: relative;
  display: inline-block;
}

.exames {
  display: flex;
  justify-content: center;
  padding-bottom: 105px;
}

.imagemlogo {
  width: 200px;
}

.imagembanner2 {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.bannerdois {
  width: 100%;
  height: auto;
  justify-content: space-around;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  align-content: center !important;
}

.texto-imagemdois {
  padding: 10px 0 15px;
}

.texto2-imagem2 {
  text-align: center;
  width: 250px;
}
.box:hover {
  transform: scale(1.05);
}

.box {
  width: 384px;
  height: 376px;
  justify-content: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.imagens-bannerdois {
  width: 80px;
}

.titulo {
  font-size: 2.5rem;
  color: whitesmoke;
}

img {
  display: block;
}

.containerbloco {
  display: flex;
}

.botaoconsulta {
  background-color: #00a651;
  font-weight: 400;
  color: white;
  text-shadow: none;
  line-height: normal;
}

.botaoconsulta:hover {
  opacity: 1;
  color: white;
  background-color: #00a651;
}

.features {
  display: flex;
  height: 400px;
  justify-content: center;
  overflow: hidden;
}

.especialidades {
  font-size: 36px;
  overflow: hidden;
}

.google-widget {
  overflow: hidden;
}

.nav-bar {
  text-decoration: none;
}

#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 2.5rem; /* Footer height */
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem; /* Footer height */
}

